doctype html
html(class='main-page', lang='en')
  head
    title pug
    link(rel='stylesheet', href='css/index.css')
  body
    .wrapper
      header.header-top
        .header-top__logotip
          img.header-top__logotip
          nav.header-top__nav-top
            ul.nav-top__list-menu
              li
        .main-content
          article.main-content__head--first
            h1.head__caption Заголовок 1
            p.head__content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est saepe neque maiores, porro consequuntur beatae. Ad, numquam? Hic debitis reiciendis nesciunt nisi, officia temporibus ipsa, commodi molestiae quam, obcaecati voluptate.
            span.head__date-and-time 10:00 21.10.2018


