@font-face {
    font-family: 'LatoRegular';
    src : url('./Lato/Lato-Regular.ttf');
    font-family: 'LatoBold';
    src : url('./Lato/Lato-Bold.ttf');
    font-family: 'LatoHairline';
    src : url('./Lato/Lato-Hairline.ttf');
    font-family: 'LatoItalic';
    src : url('./Lato/Lato-Italic.ttf');
}